{% extends "base.html" %}
{% block content %}
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top" id="saludo">Hola  </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right" id="menu-links">
                <li><a href="#" id = "comojugar2">Cómo jugar?</a></li>
                <li><a href= "#" id = "sobre2">De que trata la tesis?</a></li>
                <li><a href="#contact" id = "contactoenjugar">Contacto</a></li>
                <li><a href="#" id="logout2" class="btn-logout">Cerrar sesión</a></li>
            </ul>
        </div>
    </div>
</nav>


<script type="text/javascript">
        var login = sessionStorage.getItem("username");
//        console.log(login);
        $('#saludo').text("Gracias " + login + "!");

</script>


<div class="wrapper">
    <div class="container" >
        <form method="post" action="/yajugue">
            <div class="row" style="background-color: #f2f2f2;padding:15px;">
                <div class="progress">
                    <div class="progress-bar" id="progressbar" name="progressbar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                    </div>
                </div>



                <script type="text/javascript">
                var tweetsAnalizados = '{{cantidadPerfilesAnalizados}}';
                var porc = tweetsAnalizados + "0%";
                $('#progressbar').css('width', porc);
                var cuantos = tweetsAnalizados + "/10";
                $(".progress-bar").innerText = cuantos;
                $('#progressbar').text(cuantos);
                </script>


                <div class="h2">Podes inducir de qu&eacute; club es hincha este perfil de twitter? </div>
                    <!--<div class="col-md-5">-->
                        <label for="teams">Club:<br></label><br>

                        <div class="row">
                            <div class="col-sm-12">
                                <ul class="list-inline list-unstyled">
                                    <li>
                                        <button name= "btn1" title="" id="btn1" type="submit" class="btn btn-default btn-equipos"></button>
                                        <br>
                                        <label id="lbl1"></label>
                                    </li>
                                    <li>
                                        <button name= "btn1"  title=""  id="btn2" type="submit" class="btn btn-default btn-equipos"></button>
                                        <br>
                                        <label id="lbl2"></label>
                                    </li>
                                    <li>
                                        <button name= "btn1"   title=""  id="btn3"  type="submit" class="btn btn-default btn-equipos"></button>
                                        <br>
                                        <label id="lbl3"></label>
                                    </li>
                                    <li>
                                        <button name= "btn1"  title=""    id="btn4" type="submit" class="btn btn-default btn-equipos"></button>
                                        <br>
                                        <label id="lbl4"></label>
                                    </li>
                                    <li>
                                        <button name= "btn1"  title=""   id="btn5"  type="submit" class="btn btn-default btn-equipos"></button>
                                        <br>
                                        <label id="lbl5"></label>
                                    </li>
                                    <li>
                                        <button name= "btn1"   title=""   id="btn6" type="submit" class="btn btn-default btn-equipos"></button>
                                        <br>
                                        <label id="lbl6"></label>
                                    </li>
                                    <li>
                                        <button name= "btn1"  title=""   id="btn7"  type="submit" class="btn btn-default btn-equipos"></button>
                                        <br>
                                        <label id="lbl7"></label>
                                    </li>
                                    <li>
                                        <button name= "btn1"  title=""   id="btn8"  type="submit" class="btn btn-default btn-equipos"></button>
                                        <br>
                                        <label id="lbl8"></label>
                                    </li>
                                    <li>
                                        <button name= "btn1"  title=""   id="btn9"  type="submit" class="btn btn-default btn-equipos"></button>
                                        <br>
                                        <label id="lbl9"></label>
                                    </li>
                                    <li>
                                        <button name= "btn1"  title=""   id="btn10"  type="submit" class="btn btn-default btn-equipos"></button>
                                        <br>
                                        <label id="lbl10"></label>
                                    </li>
                                    <li>
                                        <button name= "btn1"   title=""   id="btn11" type="submit" class="btn btn-default btn-equipos"></button>
                                        <br>
                                        <label id="lbl11"></label>
                                    </li>
                                    <li>
                                        <button name= "btn1"  title=""   id="btn12"  type="submit" class="btn btn-default btn-equipos"></button>
                                        <br>
                                        <label id="lbl12"></label>
                                    </li>
                                    <li>
                                        <button name= "btn1"   title=""   id="btn13" type="submit" class="btn btn-default btn-equipos"></button>
                                        <br>
                                        <label id="lbl13"></label>
                                    </li>
                                    <li>
                                        <button name= "btn1"   title=""   id="btn14" type="submit" class="btn btn-default btn-equipos"></button>
                                        <br>
                                        <label id="lbl14"></label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
            </div>
            <script type="text/javascript">
                function shuffle(array) {
                    var currentIndex = array.length, temporaryValue, randomIndex;

                    // While there remain elements to shuffle...
                    while (0 !== currentIndex) {

                        // Pick a remaining element...
                        randomIndex = Math.floor(Math.random() * currentIndex);
                        currentIndex -= 1;

                        // And swap it with the current element.
                        temporaryValue = array[currentIndex];
                        array[currentIndex] = array[randomIndex];
                        array[randomIndex] = temporaryValue;
                    }

                    return array;
                }
//                var teams = ["No se", "Ninguno", "Boca", "River", "Racing","Independiente","San Lorenzo","Belgrano","Talleres","Rosario central","Newell's","Estudiantes","Gimnasia","Lanus"]
                  var teams = ["Boca", "River", "Racing","Independiente","San Lorenzo","Belgrano","Talleres","Rosario central","Newell's","Estudiantes","Gimnasia","Lanus"]
//"No se", "Ninguno"
                teams = shuffle(teams);

                for (i = 0; i < teams.length; i++) {
                    var texto = teams[i];
                    var nombrebtn = '#btn' + (i+1)+'';
                    var nombrelbl ='#lbl' + (i+1)+'';

                   $(nombrebtn).attr('title', texto);
                    $(nombrebtn).attr('value', texto);
                   $(nombrelbl).text(texto);
                    texto = texto.replace(/ /g ,"_");
                    texto = texto.replace("'","_");
                    path = 'url(../public/static/imagenes/equiposbotones/'+texto+'.png)';
                   $(nombrebtn).css("background-image", path);
                }
                //"No se", "Ninguno"
                texto = "No se";
                $('#btn13').attr('title', "No se");
                $('#btn13').attr('value', "No se");
                $('#lbl13').text("No se");
                texto = texto.replace(/ /g ,"_");
                texto = texto.replace("'","_");
                path = 'url(../public/static/imagenes/equiposbotones/'+texto+'.png)';
                $('#btn13').css("background-image", path);

                texto = "Ninguno";
                $('#btn14').attr('title', "Ninguno");
                $('#btn14').attr('value', "Ninguno");
                $('#lbl14').text("Ninguno");
                texto = texto.replace(/ /g ,"_");
                texto = texto.replace("'","_");
                path = 'url(../public/static/imagenes/equiposbotones/'+texto+'.png)';
                $('#btn14').css("background-image", path);



            </script>

            <div class="row" style="margin-top: 10px;">
                <div id="backgroundiv" name="backgroundiv" class="banner-img text-left">
                    <div class="profile-container">
                        <img  id="imageprofile" name="imageprofile"  alt="imagen de perfil" class="profile-img" />
                        <div name="screenName" id = "screenName" class="h3">
                        </div>
                        <div style="color:#888;">
                            <p name="screentwit" id="screentwit">
                            </p>
                        </div>
                        <div class="profile-text" name="biografia" id="biografia">
                        </div>


                    </div>
                </div>

             </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <a id="tweetslinksuser" name="tweetslinksuser" class="twitter-timeline" href = "https://twitter.com/{{nombreDelUsuario}}">Tweets by {{nombreDelUsuario}}</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
            </div>

    <div class="h2">Podes inducir de qu&eacute; club es hincha este perfil de twitter? </div>
    <!--<div class="col-md-5">-->
    <label for="teams">Club:<br></label><br>

    <div class="row">
        <div class="col-sm-12">
            <ul class="list-inline list-unstyled">
                <li>
                    <button name= "btn1" title="" id="bbtn1" type="submit" class="btn btn-default btn-equipos"></button>
                    <br>
                    <label id="blbl1"></label>
                </li>
                <li>
                    <button name= "btn1"  title=""  id="bbtn2" type="submit" class="btn btn-default btn-equipos"></button>
                    <br>
                    <label id="blbl2"></label>
                </li>
                <li>
                    <button name= "btn1"   title=""  id="bbtn3"  type="submit" class="btn btn-default btn-equipos"></button>
                    <br>
                    <label id="blbl3"></label>
                </li>
                <li>
                    <button name= "btn1"  title=""    id="bbtn4" type="submit" class="btn btn-default btn-equipos"></button>
                    <br>
                    <label id="blbl4"></label>
                </li>
                <li>
                    <button name= "btn1"  title=""   id="bbtn5"  type="submit" class="btn btn-default btn-equipos"></button>
                    <br>
                    <label id="blbl5"></label>
                </li>
                <li>
                    <button name= "btn1"   title=""   id="bbtn6" type="submit" class="btn btn-default btn-equipos"></button>
                    <br>
                    <label id="blbl6"></label>
                </li>
                <li>
                    <button name= "btn1"  title=""   id="bbtn7"  type="submit" class="btn btn-default btn-equipos"></button>
                    <br>
                    <label id="blbl7"></label>
                </li>
                <li>
                    <button name= "btn1"  title=""   id="bbtn8"  type="submit" class="btn btn-default btn-equipos"></button>
                    <br>
                    <label id="blbl8"></label>
                </li>
                <li>
                    <button name= "btn1"  title=""   id="bbtn9"  type="submit" class="btn btn-default btn-equipos"></button>
                    <br>
                    <label id="blbl9"></label>
                </li>
                <li>
                    <button name= "btn1"  title=""   id="bbtn10"  type="submit" class="btn btn-default btn-equipos"></button>
                    <br>
                    <label id="blbl10"></label>
                </li>
                <li>
                    <button name= "btn1"   title=""   id="bbtn11" type="submit" class="btn btn-default btn-equipos"></button>
                    <br>
                    <label id="blbl11"></label>
                </li>
                <li>
                    <button name= "btn1"  title=""   id="bbtn12"  type="submit" class="btn btn-default btn-equipos"></button>
                    <br>
                    <label id="blbl12"></label>
                </li>
                <li>
                    <button name= "btn1"   title=""   id="bbtn13" type="submit" class="btn btn-default btn-equipos"></button>
                    <br>
                    <label id="blbl13"></label>
                </li>
                <li>
                    <button name= "btn1"   title=""   id="bbtn14" type="submit" class="btn btn-default btn-equipos"></button>
                    <br>
                    <label id="blbl14"></label>
                </li>

            </ul>
        </div>
    </div>



    <script type="text/javascript">
        for (i = 0; i < teams.length; i++) {
             texto = teams[i];
             nombrebtn = '#bbtn' + (i+1)+'';
             nombrelbl ='#blbl' + (i+1)+'';

            $(nombrebtn).attr('title', texto);
            $(nombrebtn).attr('value', texto);
            $(nombrelbl).text(texto);
            texto = texto.replace(/ /g ,"_");
            texto = texto.replace("'","_");
            path = 'url(../public/static/imagenes/equiposbotones/'+texto+'.png)';
            $(nombrebtn).css("background-image", path);
        }
    </script>


        </form>

    </div>
</div>


<hr style="border:1px solid #bbb; max-width: 70%; margin-top: 15px;"/>
<script type="text/javascript" charset="utf-8">

    $( window ).load(function() 
    {
        var usernameSession = sessionStorage.getItem("SessionName");
        var perfiles = {{perfiles | safe }};
           console.log(perfiles);
        var linkbanner = perfiles['image'];
        $('#backgroundiv').css("background-image", "url("+ linkbanner+")");
        $("#imageprofile").attr("src",perfiles["banner"]);
        screenName.innerText = perfiles["name"];
        var scr =  "@"+perfiles["screenName"];
        screentwit.innerText = scr;
        biografia.innerText = perfiles["desc"];
    });

</script>
{% endblock %}

