<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/static/bower_components/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="/static/css/custom.css">
    <link rel="stylesheet" href="/static/css/creative.css">

    <!--<link rel="stylesheet" href="/static/css/estilos.css">-->

    <!--<link rel="stylesheet" href="/static/css/clean-blog.css">-->

    <!-- Optional theme -->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">-->


    <meta content="chrome=1,IE=edge" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="El objetivo de esta página web es etiquetar a los usuarios de Twitter con respecto al equipo de fútbol de Argentina que son hinchas para la utilización en una tesis de Licenciatura en Ciencias de la Computación del departamento de computación de la Facultad de Ciencias Exactas y Naturales de la Universidad de Buenos Aires">
    <meta name="author" content="Brian Litwak">
     <!--<link rel="icon" href="../../favicon.ico">-->

    <!-- Bootstrap core CSS -->
    <!--<link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet">-->

    <!-- Custom styles for this template -->
    <!--<link href="static/css/cover.css?29" rel="stylesheet">-->

    <!-- Custom CSS -->
    <!--<link rel="stylesheet" href="/static/css/full-width-pics.css">-->

    <!-- Custom Fonts -->
    <!--<link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,500italic,600italic,700italic,800italic,500,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <!-- Custom Fonts -->
    <link href="../static/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <!--<link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>-->

    {% if title %}
    <title>{{ title }} - Adivina el equipo!</title>
    {% else %}
    <title>Adivina el equipo!</title>
    {% endif %}
</head>
<body id="page-top">
    <script src="/static/assets/js/jquery.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://apis.google.com/js/client.js?onload=checkAuth"></script>

    <script src="/static/js/post.js"></script>
    <script src="/static/js/fb.js?350" type='text/javascript' ></script>

    <!-- 
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
     -->

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top" id="saludo">Inicio</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right" id="menu-links">

                    <li class="active" id="login-link"><a href="#"  class="login">Iniciar sesión con facebook</a></li>
                    <li><a href="#">Algo m&aacute;s?</a></li>
                    <li><a href="#">Contacto</a></li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <div class="">

        {% block content %}{% endblock %}

    </div>


    <section id="contact" class="section-short">
        <div class="container" role="contentinfo">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Contactame</h2>
                    <hr class="primary">
                    <p>Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 text-center">
                    <i class="fa fa-facebook fa-3x sr-contact"></i>
                    <p><a href="http://facebook.com/blitwak">http://facebook.com/blitwak</a></p>
                </div>
                <div class="col-sm-4 text-center">
                    <i class="fa fa-twitter fa-3x sr-contact"></i>
                    <p><a href="http://twitter.com/brianRomeo">http://twitter.com/brianRomeo</a></p>
                </div>
                <div class="col-sm-4 text-center">
                    <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                    <p><a href="mailto:blitwak@fcen.uba.ar">blitwak@fcen.uba.ar</a></p>
                </div>
            </div>
        </div>
    </section>


    <!-- Bootstrap core JavaScript
    ================================================== -->

  </body>



</html>
