{% extends "base.html" %}
{% block content %}
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top" id="saludo">Gracias </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right" id="menu-links">

                <li><a href="#" id = "comojugar2">Cómo jugar?</a></li>
                <li><a href= "#" id = "sobre2">De que trata la tesis?</a></li>
                <li><a href="#" id = "contact2">Contacto</a></li>
                <li><a href="#" id="logout2">Cerrar sesión</a></li>


            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>


<script type="text/javascript">
        $('#saludo').text("Gracias {{name}}!");

        var tweetsAnalizados = sessionStorage.getItem("tweetsAnalizados");
        if (tweetsAnalizados == null)
        {
            sessionStorage.setItem("tweetsAnalizados", 0);
            tweetsAnalizados = 0;
        }
        $('#progressbar').css('width', tweetsAnalizados + "%");
        //FALTA EL NUMERO


        //            sessionStorage.setItem("tweetsAnalizados", "sobre2");
</script>


<div class="wrapper">
    <div class="container" >
        <form method="post" action="/yajugue">


            <div class="row" style="background-color: #f2f2f2;padding:15px;">
                <div class="progress">
                    <div class="progress-bar" id="progressbar" name="progressbar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                        9/10
                    </div>
                </div>

                <div class="h2">De qu&eacute; club es la persona de este usuario de twitter? </div>
                <div class="col-md-5">
                    <label for="teams">Club:</label>
                    <select id="teams" name="teams" class="form-control" title="Equipos">
                        <option value="No se">No se</option>
                        <option value="Ninguno">Ninguno</option>
                        <option value="Boca">Boca</option>
                        <option value="River">River</option>
                        <option value="Racing">Racing</option>
                        <option value="Independiente">Independiente</option>
                        <option value="San Lorenzo">San Lorenzo</option>
                        <option value="Huracan">Huracan</option>
                        <option value="Belgrano">Belgrano</option>
                        <option value="Talleres">Talleres</option>
                        <option value="Rosario central">Rosario central</option>
                        <option value="Newell's">Newell's</option>
                        <option value="Estudiantes de la plata">Estudiantes de la plata</option>
                        <option value="Gimnasia">Gimnasia</option>
                        <option value="Colon">Colon</option>
                        <option value="Velez">Velez</option>
                        <option value="Lanus">Lanus</option>
                        <option value="Banfield">Banfield</option>
                        <option value="Atlético Tucumán">Atlético Tucumán</option>
                        <option value="Temperley">Temperley</option>
                        <option value="Union">Union</option>
                        <option value="Tigre">Tigre</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <input type="submit" class="btn btn-primary" style="margin-top:25px; padding-left:15px;padding-right: 15px;" value="Siguiente" />
                </div>


            </div>


            <div class="row" style="margin-top: 10px;">
                <div id="backgroundiv" name="backgroundiv" class="banner-img text-left">
                    <div class="profile-container">
                        <img  id="imageprofile" name="imageprofile"  alt="imagen de perfil" class="profile-img" />
                        <div name="screenName" id = "screenName" class="h3">
                        </div>
                        <div style="color:#888;">
                            <p name="screentwit" id="screentwit">
                            </p>
                        </div>
                        <div class="profile-text" name="biografia" id="biografia">
                        </div>


                    </div>
                </div>

             </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <a class="twitter-timeline" href="https://twitter.com/cuervoTinelli">Tweets by TwitterDev</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p id = "name_datosTwitter"></p>
                    <p id = "screenName_datosTwitter"></p>
                    <p id = "name_datosTwitter"></p>
                    <p id = "desc_datosTwitter"></p>
                    <img src="" id = "banner_datosTwitter" height="42" width="42">
                    <img src="" id = "image_datosTwitter" height="42" width="42">
                </div>

            </div>


            <input type="hidden" id="cantidadTotalPerfiles" value="">
            <input type="hidden" id="cantidadActualPerfiles" value="">
            <label  hidden id="lblperfiles"> {{perfiles}} </label>
            <input type="hidden" id="cantidadAeeectualPerfiles" value="">

        </form>


        <div class="row" style="background-color: #f2f2f2;padding:15px;">
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                    6/10
                </div>
            </div>

            <div class="h2">De qu&eacute; club es la persona de este usuario de twitter? </div>
            <div class="col-md-5">
                <label for="teams2">Club:</label>
                <select id="teams2" name="teams" class="form-control" title="Equipos">
                    <option value="No se">No se</option>
                    <option value="Ninguno">Ninguno</option>
                    <option value="Boca">Boca</option>
                    <option value="River">River</option>
                    <option value="Racing">Racing</option>
                    <option value="Independiente">Independiente</option>
                    <option value="San Lorenzo">San Lorenzo</option>
                    <option value="Huracan">Huracan</option>
                    <option value="Belgrano">Belgrano</option>
                    <option value="Talleres">Talleres</option>
                    <option value="Rosario central">Rosario central</option>
                    <option value="Newell's">Newell's</option>
                    <option value="Estudiantes de la plata">Estudiantes de la plata</option>
                    <option value="Gimnasia">Gimnasia</option>
                    <option value="Colon">Colon</option>
                    <option value="Velez">Velez</option>
                    <option value="Lanus">Lanus</option>
                    <option value="Banfield">Banfield</option>
                    <option value="Atlético Tucumán">Atlético Tucumán</option>
                    <option value="Temperley">Temperley</option>
                    <option value="Union">Union</option>
                    <option value="Tigre">Tigre</option>
                </select>
            </div>
            <div class="col-md-3">
                <input type="submit" id="submit2" class="btn btn-primary" style="margin-top:25px; padding-left:15px;padding-right: 15px;" value="Siguiente" />
            </div>


        </div>



    </div>
</div>


<hr style="border:1px solid #bbb; max-width: 70%; margin-top: 15px;"/>
<script type="text/javascript">
    $( window ).load(function() 
    {


        var usernameSession = sessionStorage.getItem("SessionName");
        console.log("esta guardado?");
        console.log(usernameSession);

        perfiles = document.getElementById('lblperfiles').innerHTML
        var result = JSON.parse(perfiles);

        console.log(result);
        var linkbanner = result['image'];
        console.log(linkbanner);
        $('#backgroundiv').css("background-image", "url("+ linkbanner+")");

        $("#imageprofile").attr("src",result["banner"]);

        screenName.innerText = result["name"];
        var scr =  "@"+result["screenName"];
        console.log(scr);
        screentwit.innerText = scr;
        console.log("que onda");
        biografia.innerText = result["desc"];
        console.log("biografia");
        var twitterlink = "https://twitter.com/" + result["screenName"];
        console.log(twitterlink);
        $("#tweetslinksuser").attr("href",twitterlink);
        console.log("finnnnn");
    });

</script>
{% endblock %}

