{% extends "base.html" %}
{% block content %}

<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        Tesis
      </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="#" id="login" class="menu__link">Iniciar sesión con facebook</a></li>
        <li><a href="#">Algo mas?</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
    <div class=" text-center">
        <h2>Ayudame a graduarme pronto</h2>
        <p class="text-primary">
          Lorem ipsum graduate graduate
          Lorem ipsum graduate graduate
          Lorem ipsum graduate graduate
        </p>
    </div>

</div>



<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
        <div class="masthead clearfix">
            <div class="inner" id="menulogin">
              <h1 class="h3 masthead-brand">Tesis</h1>



            </div>
        </div>
    </div>
  </div>



  <!--<div class="site-wrapper-inner">-->
    <!--<div class="text-center">-->
      <!--<div class="text-center">-->
        <!--<h1 class="text-center" >Es facil y divertido!</h1>-->
        <!--<h4 class="lead">Gracias por ayudar!</h4>-->
      <!--</div>-->
        <!--<div class="inner">-->
          <!--<p>Cualquier consulta por <a href="mailto:brian.litwak@gmail.com?Subject=Contacto" target="_top">mail</a> .</p>-->
        <!--</div>-->
    <!--</div>-->
  <!--</div>-->
</div>


<input type="hidden" id="usuario" name="usuario">

<!--<script src="/static/assets/js/angular.min.js"></script>-->
<!--<script src="/static/assets/js/jquery.js"></script>-->
<!--<script src="/static/assets/js/bootstrap.min.js"></script>-->
<!--<script src="/static/assets/js/anchor-smooth-scroll.js"></script>-->
<!--<script src="/static/assets/js/angular-sanitize.min.js"></script> -->
<!--<script src="/static/assets/js/underscore-min.js"></script> -->
<!--<script src="/static/assets/js/ang-accordion.js"></script>  -->
<!--<script src="/static/assets/js/dirPagination.js"></script>-->
<!--<script src="/static/assets/js/angular-carousel.js"></script> -->
<script src="/static/js/post.js"></script>
<script src="/static/js/fb.js?55" type='text/javascript' ></script>

{% endblock %}